#history {
  display: grid;
  row-gap: 10px;
  padding: 20px;
  align-content: center;
  width: fit-content;
}

#history img {
  justify-self: center;
}

#history-main-graph-wrapper {
  display: grid;
}
#history-main-graph {
  width: 100%;
  object-fit: cover;
}
