#graph-map {
  display: flex;
  gap: 30px;
}

.graph-map-details {
  display: flex;
  gap: 7px;
  align-items: center;
}
.graph-map-details h6 {
  font-size: 0.8rem;
  color: #757a8a;
  font-weight: 400;
}
