aside {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, max-content);
  padding: 40px;
  gap: 40px;
  border-right: 1px solid rgb(224, 223, 235);
}

aside ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  /* width: 100%; */
  column-gap: 50px;

  row-gap: 10px;
}

aside li {
  display: grid;
  column-gap: 7px;
}

aside h1 {
  font-size: 1rem;
  font-weight: 400;
  color: #646464;
}

ul h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

ul img {
  width: 1.5rem;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

#logo-title {
  font-size: 3rem;
  font-weight: 600;
  color: #3183ff;
}

#logo-img {
  width: 5rem;
}
.nav-item {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
}
