#main-wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  /* grid-template-columns: 1fr 7fr;
  grid-template-rows: 100%; */
  grid-template-columns: repeat(auto-fit, minmax(max(20rem, 18%), auto));
  grid-auto-rows: 1fr;
}

#main-content {
  display: grid;
  grid-template-rows: 80px calc(100% - 80px);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 49%));
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  margin: min(5%, 20px);
  gap: min(5%, 20px);
}

section {
  border: 1px solid rgb(224, 223, 235);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.section-title {
  font-weight: 400;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(224, 223, 235);
}
