header {
  display: grid;
  grid-template-columns: 6fr 1fr 0.5fr;
  align-items: center;
  border-bottom: 1px solid rgb(224, 223, 235);
}

header img {
  width: 60px;
}

#header-title {
  display: grid;
  row-gap: 5px;
  margin-left: 20px;
}

#header-title h6 {
  color: #757a8a;
  font-weight: 300;
}

#header-title h1 {
  font-weight: 400;
}

#profile-container h2 {
  font-size: 0.7rem;
  font-weight: 400;
}

#profile-container h6 {
  font-weight: 200;
}

#profile-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 5px;
}

#profile-container h2 {
  align-self: end;
}

#profile-container h6 {
  align-self: start;
}

#profile-img {
  grid-row: 1/3;
  grid-column: 1/2;
}

#profile-down-arrow {
  grid-row: 1/3;
  grid-column: 3/4;
}
