header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 50%));
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(224, 223, 235);
  width: 100%;
  row-gap: 20px;
  padding: 20px 0px;
}

header img {
  width: 60px;
}

#header-title {
  display: grid;
  row-gap: 5px;
  margin-left: 20px;
}

#header-title h6 {
  font-size: 0.8rem;
  color: #757a8a;
  font-weight: 300;
}

#header-title h1 {
  font-weight: 400;
}

#profile-container h2 {
  font-size: 0.9rem;
  font-weight: 400;
}

#profile-container h6 {
  font-size: 0.8rem;
  font-weight: 200;
}

#profile-container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  column-gap: 5px;
}

#notifications-img {
  grid-row: 1/3;
  grid-column: 4/5;
}

#profile-container h2 {
  align-self: end;
}

#profile-container h6 {
  align-self: start;
}

#profile-img {
  grid-row: 1/3;
  grid-column: 1/2;
}

#profile-down-arrow {
  grid-row: 1/3;
  grid-column: 3/4;
}

@media screen and (min-width: 1200px) {
  header {
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    height: 60px;
  }
}
