#graph-footer {
  display: grid;
  column-gap: 10px;
  justify-content: center;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(236px, 0.5fr));
}

.graph-details {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
}

.graph-details-img {
  grid-row: 1/3;
  grid-column: 2/3;
  width: 80%;
}

.graph-details-container {
  display: flex;
  gap: 10px;
}

.graph-details-container div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.graph-details-title {
  color: #757a8a;
  font-weight: 300;
  font-size: 0.8rem;
}

.amount {
  font-size: 0.9rem;
  font-weight: 400;
}

.diff-percent-container-up {
  color: #3183ff;
}

.diff-percent-container-down {
  color: #ea7465;
}

.percentage {
  font-size: 0.8rem;
  font-weight: 400;
}
